<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container">
        <h2 class="text-center mt-3">Quản lý giờ làm nhân viên</h2>
        <hr>
        <h3>Danh sách nhân viên</h3>
        <ul class="list-group">
            <li class="list-group-item"><%= staff.name %> - <a class="link-staff" href="/manager/<%= staff._id %>">Xem thông tin</a></li>
          </ul>
    </main>

<%- include('../includes/end.ejs') %>